.explore-menu-section {
    background-color: #121213;
}

.menu-section-heading {
    color: orange;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight:bold;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}

.genre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genre {
    border: solid 1px #666;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #121213;
    font-weight: bold;
    font-family:"Roboto";
    color:white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.genre:hover {
    background-color: #555;
}


.logo {
    width: 70px;
    height: 60px;
}

#navItem1 {
    color: orange;
    font-family: "Roboto";
}

#navItem2 {
    color: orange;
    font-family: "Roboto";
}

#navItem3 {
    color: orange;
    font-family: "Roboto";
}

#navItem4 {
    color: orange;
    font-family: "Roboto";
}



.follow-us-section-heading {
    text-align: center;
    color:orange;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    
    font-size: 35px;
}

.footer-section {
    background-color: #121213;
}

.mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    font-weight:bold;
    margin-top: 20px;
}

.address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}

.facebook{
    color:blue;
}

.twitter{
    color:black;
}

.instagram{
color: #ee2a7b;
}

.navbar{
    background-color: #121213;
}